.btn-container {
  position: absolute;
  bottom: 0;
  height: 60px;
  right: 50px;
  border: 0;
  background: transparent;
}

.icon-container {
  display: flex;
  width: 24px;
  height: 100%;
  align-items: center;
}

.icon-container svg {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.microphone-on {
  fill: red;
}

.microphone-off {
  fill: black;
}

.nlux-composer-container .nlux-comp-composer {
  gap: 20px;
}